.content-home .name, .page-header .box-blog-info .info .name {
    font-weight: normal;
}

html,body{
    font-family:Muli;
    -webkit-font-smoothing:antialiased;
    -webkit-tap-highlight-color:transparent;
    width:100%;
}

.item-year a.text-year {
    font-family: Amita;
}
